<nav>
    <a href="#/dashboard">Home</a> |
    <a href="#/">Logout</a>
</nav>

<h1>{{UC.displayUser.name}}'s Bucket List</h1>


<h3>Done</h3>

<h3>Pending</h3>


<!-- make checklisted items disabled if displayUser != currentUser -->
<h3>bucketlist items:</h3>

<div id='BucketListItems'>
    <label ng-repeat="bucketItem in UC.displayUser.bucketItems">
    <input type='checkbox' ng-checked="bucketItem.status != 'pending'" ng-change='UC.statusChange(bucketItem)' ng-model='bucketItem.change' ng-disabled="bucketItem._user != UC.currentUser._id">
    {{bucketItem._user}} |
    {{bucketItem.title}} -
    {{bucketItem.description}} -
    {{bucketItem.created_at}}
    {{bucketItem.status}}
    </label>
</div>